<h1>Flights</h1>

<%= form_with model: @flight, method: :get do |form| %>
  <%= form.label "Departure: "%>
  <%= select_tag(:departure_id, options_for_select(@airport_codes)) %>
  <br /><br />
  <%= form.label "Arrival: " %>
  <%= select_tag(:arrival_id, options_for_select(@airport_codes)) %>
  <br /><br />
  <%= form.label "Passengers: " %>
  <%= select_tag(:passengers, options_for_select([*1..4]) )%>
  <br /><br />
  <%= form.label "Date: " %>
  <%= select_tag(:date, options_for_select(@date_options)) %>
  <br /><br />
  <%= form.submit "Search" %>
<% end %>

<% if @flights %>
  <br /><br />
  <% if @flights.any? %>
      <%= form_with model: @flight, url: 'booking#new' method: :get do |form| %>
        <% @flights.each do |f| %>
          <div class="ticket">
            <%= radio_button_tag '', f[:flight_id] %>
            From: <%= f[:departure_code] %> -- To: <%= f[:arrival_code] %> -- Date: <%= f[:flight_date] %>
          </div>
        <% end %>
        <%= hidden_field_tag @passengers %>
        <br /><br />
        <%= form.submit 'Book Flight' %>
      <% end %>
  <% else %>
    <p>No flight was found.</p>
  <% end %>
<% end %>